<div class="card card-block w-100 mx-auto">
  <div class="row">
    <div class="col-sm-12 col-title-modalidade">
      <p class="modalidade-title">escolha uma<br>das opções</p>
    </div>
    <div class="col-sm-12 col-conteudo-modalidade">
      <div class="row justify-content-center">
        <div class="align-self-center btn-segmento" (click)="selectSegmento('abertura')">
          <div class="col-11 inset-segmento">
            <div class="col-sm-12 icone">
              <img class="abertura" src="./assets/icons/abrirConta.png">
            </div>
            <div class="col-sm-12 texto">
              <p class="cat-texto cat-abertura">abrir uma conta</p>
            </div>
            <div class="col-sm-12 texto">
              <p class="cat-subtexto sub-abertura">tenha acesso a produtos e benefícios</p>
            </div>
          </div>  
          <div class="col-1 inset-borda-segmento"></div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="align-self-center btn-segmento" (click)="selectSegmento('consignado')">
          <div class="col-11 inset-segmento">
            <div class="col-sm-12 icone">
              <img class="consignado" src="./assets/icons/consignado.png">
            </div>
            <div class="col-sm-12 texto">
              <p class="cat-texto cat-consignado">consignado</p>
            </div>
            <div class="col-sm-12 texto">
              <p class="cat-subtexto sub-consignado">empréstimo com parcelas fixas mensais</p>
            </div>
          </div> 
          <div class="col-1 inset-borda-segmento"></div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="align-self-center btn-segmento" (click)="selectSegmento('informacoes')">
          <div class="col-11 inset-segmento">
            <div class="col-sm-12 icone">
              <img class="duvidas" src="./assets/icons/duvidas.png">
            </div>
            <div class="col-sm-12 texto">
              <p class="cat-texto cat-informacoes">informações</p>
            </div>
            <div class="col-sm-12 texto">
              <p class="cat-subtexto sub-informacoes">informações sobre produtos e serviços</p>
            </div>
          </div>  
          <div class="col-1 inset-borda-segmento"></div>
        </div>
      </div>
    </div>
  </div>
</div>
