<div class="card card-block w-100 mx-auto">
    <div class="row">
        <div class="col-sm-12 col-title-senha">
        <p class="senha-title">retire<br>sua senha</p>
        </div>
        <div class="col-sm-12 col-conteudo-senha">
            <div class="row justify-content-center row-senha">
                <div class="align-self-center btn-senha">
                    <div class="col-12 inset-senha">
                        <div class="col-sm-12 texto">
                            <p class="senha-segmento-texto">abertura de conta</p>
                        </div>
                        <div class="col-sm-12 texto">
                            <p class="senha-modalidade-texto">prioritário</p>
                        </div>
                        <div class="col-sm-12 texto">
                            <p class="senha-range-texto">D230</p>
                        </div>
                    </div>
                    <div class="col-12 inset-setas">
                        <div class="col-sm-12 texto">
                            <img class="setas" src="./assets/icons/setas.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
